__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

.git/
.idea/
.vscode/
.DS_Store
Thumbs.db

artifacts/
data/
datasets/
logs/
runs/

work_dir/**
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/config.json
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/labels.txt
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/labels.json
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/best_confusion_matrix.txt
!work_dir/webcam_mediapipe_pose_hands_idle_waving_clapping_stop_tcn_pose_hands/best_model.pt

*.onnx
*.pth
